# EP2 - EXTRA
**Regress√£o na base California Housing**
      
Autor do Estudo: Fernando Zolubas Preto - Nusp: 10694192

# Data Check

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl
import pandas as pd

In [2]:
housing = pd.read_csv(r"C:\Users\Fernando\Desktop\Poli Usp\4 semestre\Machine Learning\housing.csv",
        names=[
        "longitude", "latitude", "housing_median_age", "total_rooms", "total_bedrooms", "population",
        "households", "median_income", "median_house_value", "ocean_proximity"],
        sep=r'\s*,\s*',
        engine='python',
        na_values="?")

In [3]:
housing.shape

(20641, 10)

In [4]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
2,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
3,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
4,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY

In [5]:
nhousing = housing.dropna()

In [6]:
nhousing.shape

(20434, 10)

In [7]:
Data_lost = 20641 - 20434
print('Dados perdidos por missing data pela trativa dropna() =', Data_lost)

Dados perdidos por missing data pela trativa dropna() = 207

Numero dos atributos
* longitude________________0
* latitude__________1
* housing_median_age_____________2
* total_rooms__________3
* total_bedrooms______4
* population_____5
* households_________6
* median_income_______7
* median_house_value_______________8
* ocena_proximity________________9

In [39]:
Xhousing = nhousing.iloc[:,0:9]

# Data Preparation

**1) Vizualizando as features**

Longitude

In [37]:
print(min(nhousing['longitude']))

-114.31